{% extends "bird_identifier/base.html" %}

{% block content %}

<h1>Visualbirds</h1>

<h2>CSC 450 Project</h2>

<p>This web application is made by students at the University of North Carolina Wilmington with the goal of allowing casual users, hobbyists, and researchers
to identify the marine birds of North Carolina with a user-friendly interface. It will provide users with the ability to identify marine birds in North Carolina
via photos uploaded by the end user. When a bird is identified, data about the bird (including type, species name, location, endangered status/population) 
will be presented on screen. This functionality will be achieved through training Watson Visual with a data set containing pictures of marine birds, and 
tagging each bird with data collected. </p>

{% endblock %}